@model IEnumerable<ventasweb.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugarEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTarifa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugarEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTarifa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.carritoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.carritoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.carritoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
